mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl};background-size:cover;background-positiion:center;`)
        div.video-mixin__data
            span.video-mixine__title=video.title
            div.video-mixin__meta
                span #{video.owner.name} · 
                span #{video.meta.views}회

        //- p=video.description
        //- ul
        //-     each hashtag in video.hashtags
        //-         li=hashtag  
        //- small=video.createdAt
        //- hr